/**
 * @description 为元素添加边框（包括1px边框）
 * @method border
 * @version 2.0.0
 * @param {String} $border-width 指定边框厚度（单位为px），默认值：1px，取值与`border-width`属性一致，不同方向代表边框位置 <2.0.0>
 * @param {String} $border-color 指定边框颜色 <2.0.0>
 * @param {String} $border-style 指定边框样式 <2.0.0>
 * @param {String} $radius 指定边框圆角半径，默认值：null <2.0.0>
 */
@mixin border(
  $border-width: 1px,
  $border-color: #dadada,
  $border-style: solid,
  $radius: null
) {
  @include border-common(
    $border-width,
    $border-color,
    $border-style,
    all,
    $radius
  );
}

@mixin border-top(
  $border-width: 1px,
  $border-color: #dadada,
  $border-style: solid,
  $radius: null
) {
  @include border-common($border-width, $border-color, $border-style, top);
}

@mixin border-bottom(
  $border-width: 1px,
  $border-color: #dadada,
  $border-style: solid,
  $radius: null
) {
  @include border-common($border-width, $border-color, $border-style, bottom);
}

@mixin border-right(
  $border-width: 1px,
  $border-color: #dadada,
  $border-style: solid,
  $radius: null
) {
  @include border-common($border-width, $border-color, $border-style, right);
}

@mixin border-left(
  $border-width: 1px,
  $border-color: #dadada,
  $border-style: solid,
  $radius: null
) {
  @include border-common($border-width, $border-color, $border-style, left);
}

@mixin border-common(
  $border-width: 1px,
  $border-color: #dadada,
  $border-style: solid,
  $border-direction: all,
  $radius: null
) {
  // 为边框位置提供定位参考
  position: relative;
  @if $border-width == null {
    $border-width: 0;
  }
  border-radius: $radius;
  &::after {
    // 用以解决边框layer遮盖内容
    pointer-events: none;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    // fix当元素宽度出现小数时，边框可能显示不全的问题
    // overflow: hidden;
    content: '\0020';
    @if $border-direction == all {
      border-width: $border-width;
      border-color: $border-color;
      border-style: $border-style;
    } @else if $border-direction == top {
      border-top-width: $border-width;
      border-top-color: $border-color;
      border-top-style: $border-style;
    } @else if $border-direction == bottom {
      border-bottom-width: $border-width;
      border-bottom-color: $border-color;
      border-bottom-style: $border-style;
    } @else if $border-direction == left {
      border-left-width: $border-width;
      border-left-color: $border-color;
      border-left-style: $border-style;
    } @else if $border-direction == right {
      border-right-width: $border-width;
      border-right-color: $border-color;
      border-right-style: $border-style;
    }
    // 适配dpr进行缩放
    @include responsive(retina1x) {
      width: 100%;
      height: 100%;
      @if $radius != null {
        border-radius: $radius;
      }
    }
    @include responsive(retina2x) {
      width: 200%;
      height: 200%;
      @include transform(scale(0.5));
      @if $radius != null {
        border-radius: $radius * 2;
      }
    }
    @include responsive(retina3x) {
      width: 300%;
      height: 300%;
      @include transform(scale(0.33333));
      @if $radius != null {
        border-radius: $radius * 3;
      }
    }
    @include transform-origin(0 0);
  }
}

@mixin responsive($retina) {
  @if $retina == retina1x {
    /* 1倍屏 */
    @media (max--moz-device-pixel-ratio: 1.49),
      (-webkit-max-device-pixel-ratio: 1.49),
      (max-device-pixel-ratio: 1.49),
      (max-resolution: 143dpi),
      (max-resolution: 1.49dppx) {
      @content;
    }
  } @else if $retina == retina2x {
    /* 2倍屏 */
    @media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49),
      (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49),
      (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49),
      (min-resolution: 144dpi) and (max-resolution: 239dpi),
      (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
      @content;
    }
  } @else if $retina == retina3x {
    /* 3倍屏 */
    @media (min--moz-device-pixel-ratio: 2.5),
      (-webkit-min-device-pixel-ratio: 2.5),
      (min-device-pixel-ratio: 2.5),
      (min-resolution: 240dpi),
      (min-resolution: 2.5dppx) {
      @content;
    }
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}
